body
{
  background-image: url(../images/background.jpg);
  background-size: cover;
  
}

h1
{
  text-align: center;
}

#loggedInDiv
{
	text-align: right;
	float: right;
	
	margin: 5px;
	font-size: 30px;
	border: 2px solid black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 40px;
	border-radius: 60px/60px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
	background-color:rgba(255, 218, 80, 0.6);
    width: 200px;
	
}
#loginDiv
{
	text-align: center;
	padding: 5px;
	
	margin: 5px;
	font-size: 30px;
	border: 2px solid black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 40px;
	border-radius: 60px/60px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
	background-color:rgba(255, 218, 80, 0.6);
    width: 500px;
	
}
#createAccDiv
{
	
	margin: 5px;
	font-size: 30px;
	border: 2px solid black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 40px;
	border-radius: 60px/60px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
	background-color:rgba(255, 218, 80, 0.6);
    width: 500px;
}
#delete
{
	float:right;
	margin: 5px;
	font-size: 30px;
	border: 2px solid black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 40px;
	border-radius: 60px/60px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
	background-color:rgba(255, 218, 80, 0.6);
    width: 530px;
}
#addDiv
{
	text-align: right;
	margin: 5px;
	font-size: 30px;
	border: 2px solid black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 40px;
	border-radius: 60px/60px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
	background-color:rgba(255, 218, 80, 0.6);
    width: 1000px;
}
#searchDiv
{
	margin: 5px;
	font-size: 30px;
	border: 2px solid black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 40px;
	border-radius: 60px/60px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
	background-color:rgba(255, 218, 80, 0.6);
    width: 1500px;
}

.textBox
{
  height: 30px;
  font-size: 16pt;
}
.buttons {
  margin:auto;
  padding: 12px 45px;
  background: #f0f0f0;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

	text-decoration: none;
	text-shadow: 0 1px rgba(255,255,255,0.7);
  
	font-size: 22px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
  
   
}
.buttons:hover  { background: #787878; }
.depth {
	margin-top: 11px;
	margin-right: 3px;
	margin-left:3px;
	float: right;
	display:flex;
  border: 1px solid black;
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  padding: 5px;
  color: #555;
}

.depth:focus {
  outline: none;
  background-position: 0 -1.7em;
}

